<div class="row">
	<div class="col-md-12">
		<a href="#/nova" class="btn btn-primary pull-right">
			<span class="glyphicon glyphicon-plus"></span> Adicionar lista
		</a>
	</div>
</div>
<h1>Minhas listas de compras</h1>
<div class="list-group">
	<a ng-repeat="lista in listas | filter:busca" href="#/listas/{{lista._id}}" class="list-group-item">{{lista.nome}}
		<!-- {{lista.data | date:'dd/MM/yyyy HH:mm'}} -->
	</a>
</div>
<!--
<div class="row" ng-switch on="listas.length">
	<ul ng-switch-when="0">
		<li><em>Nenhuma lista encontrada. Você gostaria de <a href="#/nova">criar uma nova lista</a>?</li>
	</ul>
	<ul class="list-unstyled" style="padding-left: 20px" ng-switch-default>
		<li ng-repeat="lista in listas | filter:query">
			<a href="#/lista/{{lista._id}}">{{lista.data | date:'dd/MM/yyyy HH:mm'}} - {{lista.nome}}</a>
		</li>
	</ul>
</div>
  -->