<form name="editaListaForm" role="form" ng-submit="salvarLista()">

	<div class="row">
		<div class="col-md-6">
			<a href="#/listas/{{ lista._id }}" class="btn btn-default" role="button" title="Cancelar edição">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary pull-right" ng-click="submit()" title="Salvar esta lista">
				<span class="glyphicon glyphicon-floppy-save"></span>
			</button>
		</div>
	</div>
	<h1>Editar Lista de Compras</h1>
	<div class="form-group">
		<label for="nomeLista">Nome</label>
		<input type="text" ng-model="lista.nome" class="form-control" name="nomeLista"
		placeholder="Digite o nome da Lista" required autofocus>
	</div>

	<label>Itens da lista</label>
	<div ng-repeat="item in lista.itensComprados">
		<div class="row edit-form" ng-mouseover="showRemove(item)" ng-mouseout="showRemove(null)">
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" ng-model="item.qtde" class="form-control" placeholder="Quantidade">
				</div>	
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="item.nome" class="form-control"
					 placeholder="Digite um nome para o item. Ex.: Tomate" ng-keydown="addItemByKey($event, $index +1)">
				</div>
			</div>
			<div class="col-md-1">
				<a href="" class='btn btn-primary btn-xs' title="Excluir item" ng-show="removeItem == item" ng-click="removeComprado($index)">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-repeat="item in lista.itensComprar">
		<div class="row edit-form" ng-mouseover="showRemove(item)" ng-mouseout="showRemove(null)">
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" ng-model="item.qtde" class="form-control" placeholder="Quantidade">
				</div>	
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="item.nome" class="form-control"
					 placeholder="Digite um nome para o item. Ex.: Tomate" ng-keydown="addItemByKey($event, $index + lista.itensComprados.length + 1)">
				</div>
			</div>
			<div class="col-md-1">
				<a href="" class='btn btn-primary btn-xs' title="Excluir item" ng-show="removeItem == item" ng-click="removeComprar($index)">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8">
			<button type="button" class="btn btn-success pull-right btn-sm" ng-click="addItem()" title="Adicionar um item">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
</form>